_flows/test.yml
id: test
namespace: company.team
description: "Test Flow"
variables:
  tempDir: /app/data/tmp
  outputDir: /app/data/output
  sourceErp: /app/data/sources/Fichier_erp.xlsx
tasks:
  - id: test_task
    type: io.kestra.plugin.core.debug.Return
    format: "\"{{ taskrun.startDate }}\""
  - id: pyteval
    type: io.kestra.plugin.scripts.python.Script
    dependencies:
      - datetime
      - kestra

    script: |
      fin = "{{ taskrun.startDate }}"
      from datetime import datetime
      from kestra import Kestra
      deb = {{ outputs.test_task.value }}
      print(f"deb : {deb}") 
      print(f"fin : {fin}")       

      dt_deb = datetime.fromisoformat(deb.replace("Z", "+00:00"))
      dt_fin = datetime.fromisoformat(fin.replace("Z", "+00:00"))

      delta = dt_fin - dt_deb
      print(delta)          # 0:01:34.033239
      print(delta.total_seconds())  # 94.033239
      Kestra.outputs( { 'total_time' : delta.total_seconds(), 'start' : str(dt_deb)})

    
